# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/frblog?schema=public"
DIRECT_URL="postgresql://postgres:123456@localhost:5432/frblog?schema=public"

# NEXT AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="helloworld"
GOOGLE_CLIENT_ID="789795901440-k6h1d3ri0ihms1edg3jdd8ecjvientsi.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GITHUB_CLIENT_ID="1df74e39d83e6080e0fc"
GITHUB_CLIENT_SECRET="6a8274539f11bbec1512784accb5bf9a110aa9c6"